<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        {{ editMode ? 'Edit Contact' : 'Create Contact' }}

    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            CRM
        </li>
        <li class="breadcrumb-item position-relative">
            Contacts
        </li>
        <li class="breadcrumb-item position-relative">
            {{ editMode ? 'Edit Contact' : 'Create Contact' }}
        </li>

    </ol>
</div>

<!-- Create Contact -->
<mat-card class="daxa-card create-contact-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card-content>
        <form [formGroup]="contactForm" (ngSubmit)="createContact()">
            <div class="row">
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            School Name
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter School Name
                            </mat-label>
                            <input matInput formControlName="contact_id">
                        </mat-form-field>
                    </div>
                </div> -->

                 <div class="col-md-4 col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    School Name
                                </label>

                                 <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <!-- 'multiple' for multiple select -->
                                   <mat-select  formControlName="school_name">
                                <mat-option *ngFor="let school of school" [value]="school.id">
                                    {{ school.school_name }}
                                </mat-option>
                            </mat-select>

                        
                                </mat-form-field>

                               
                              
                            </div>
                        </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Customer Name
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter customer name
                            </mat-label>
                            <input matInput formControlName="contact_name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Email Address
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter email address
                            </mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Phone Number
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter phone number
                            </mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Last Contacted Date
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter last contacted date
                            </mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Courses
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select Course name
                            </mat-label>
                          

                       <mat-select formControlName="courses">
                                <mat-option *ngFor="let course of courses" [value]="course.id">
                                    {{ course.service_name }}
                                </mat-option>
                            </mat-select>
                            <!-- </mat-form-field> -->
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Duration
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter duration
                            </mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div> -->
           

                
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Lead Source
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select lead source
                            </mat-label>
                            <mat-select formControlName="lead_source">
                                <mat-option value="website">
                                    Website
                                </mat-option>
                                <mat-option value="referrel">
                                    Referral
                                </mat-option>
                                <mat-option value="cold_call">
                                    Cold Call
                                </mat-option>
                                <mat-option value="email_campaign">
                                    Email Campaign
                                </mat-option>
                                <mat-option value="online_store">
                                    Online Store
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div> -->
                

                           <div class="col-md-4 col-sm-6"*ngIf="user_type == 'ADMIN'">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Contact Owner
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select
                            </mat-label>
                            <!-- 'multiple' for multiple select -->
                            <mat-select formControlName="contact_owner">
                                <mat-option *ngFor="let user of users" [value]="user.id">
                                    {{ user.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                     <!-- <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Contact Status
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select contact status
                            </mat-label>
                            <mat-select formControlName="status">
                                <mat-option [value]="true">
                                    Active
                                </mat-option>
                                <mat-option [value]="false">
                                    Inctive
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div> -->
                
                <!-- <div class="col-md-12 col-sm-12">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Customer Image
                        </label>
                        <file-upload class="file-uploader" [multiple]="multiple"></file-upload>
                    </div>
                </div> -->
            </div>
            <div class="btn-box">

                <button mat-button type="submit">
                    <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-1" role="status"
                        aria-hidden="true"></span>
                    {{ editMode ? 'Edit Contact' : 'Create Contact' }}
                </button>

                 <button mat-button type="button" (click)="onCancel()">
                    Cancel
                </button>
               

              
            </div>
        </form>
    </mat-card-content>
</mat-card>