.stat-item {
    h5 {
        margin-bottom: 10px;
    }
    .number {
        font-size: 26px;
        margin-bottom: 25px;
    }
    .chart {
        top: 50%;
        right: 15px;
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        margin-top: 0;
        position: absolute;
        transform: translateY(-50%);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
        background: #e6faff;
        color: #00cae3;
        font-size: 28px;
    }
    &.rtl-enabled {
        .chart {
            left: 15px;
            right: auto;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .stat-item {
        padding: 15px 15px 0;

        h5 {
            margin-bottom: 7px;
        }
        .number {
            font-size: 22px;
            margin-bottom: 15px;
        }
        .chart {
            top: 0;
            right: 0;
            width: 56px;
            height: 56px;
            text-align: center;
            position: relative;
            transform: translateY(0);
            margin: {
                top: 10px;
                bottom: 0;
            };
        }
        &.rtl-enabled {
            .chart {
                left: 0;
                right: auto;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .stat-item {
        .chart {
            margin-top: 0;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
