<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        User Location </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            CRM
        </li>
        <li class="breadcrumb-item position-relative">
            School
        </li>
    </ol>
</div>

<!-- Contacts -->
<mat-card class="daxa-card contacts-list-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">


    <mat-card-header>
        <mat-card-title>
            <!-- <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0"
                    placeholder="Search school..." (keyup)="applySearch($event)" #input>
            </form> -->



        </mat-card-title>
        <mat-card-subtitle class="filter-container">

            <mat-form-field appearance="fill" class="small-form-field">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="createdPicker" [(ngModel)]="createdDateFilter"
                    (dateChange)="filterCreatedDate($event)" placeholder="Date" />
                <mat-datepicker-toggle matSuffix [for]="createdPicker"></mat-datepicker-toggle>
                <mat-datepicker #createdPicker></mat-datepicker>
            </mat-form-field>

  <button mat-button class="add-new-btn" color="primary" (click)="resetFilters()"
                style="height: 36px; padding: 0 10px; min-width: auto; margin-right: 15px;">
                <i class="material-symbols-outlined" style="font-size: 14px;"> backspace </i>
                Clear
            </button>
            <div *ngIf="user_type == 'ADMIN'">

                <mat-form-field appearance="fill" class="small-form-field">
                    <mat-label>User</mat-label>
                    <mat-select (selectionChange)="filterUser($event)">
                        <mat-form-field appearance="outline" class="w-80">

                            <input [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="searchFieldUser"
                                (keyup)="searchUser()" placeholder="search user...">

                            <!-- Clear button -->
                            <button *ngIf="searchFieldUser" mat-icon-button matSuffix (click)="clearSearchUser()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let s of users" [value]="s.id">
                            {{ s.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
          

            <!-- <a mat-button class="add-new-btn m-0" [routerLink]="'/create-school'">
                + Add School
            </a> -->
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="map-container">
            <google-map height="400px" width="100%" [zoom]="zoom" [center]="center">
                <map-marker *ngFor="let m of markers" [position]="m.position" [title]="m.title" [options]="m.options">
                </map-marker>


                <map-polyline [path]="path" [options]="{ strokeColor: 'blue', strokeWeight: 3 }">
                </map-polyline>
            </google-map>
        </div>
    </mat-card-content>
</mat-card>