.mat-mdc-card {
    &.daxa-card {
        &.contacts-list-card {
            .mat-mdc-card-content {
                margin: {
                    left: -20px;
                    right: -20px;
                };
                .contacts-list-table {
                    .mat-mdc-table {
                        .mat-mdc-header-cell {
                            &:last-child {
                                text-align: right;
                            }
                            &:first-child {
                                padding-right: 0;
                            }
                        }
                        .mat-mdc-cell {
                            &:last-child {
                                text-align: right;
                            }
                            &:first-child {
                                padding-right: 0;
                            }
                        }
                        .info {
                            .image {
                                width: 35px;
                                line-height: .01;
                                margin-right: 12px;

                                img {
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    .contacts-list-table {
                        .mat-mdc-table {
                            .mat-mdc-header-cell {
                                &:last-child {
                                    text-align: left;
                                }
                                &:first-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    };
                                }
                            }
                            .mat-mdc-cell {
                                &:last-child {
                                    text-align: left;
                                }
                                &:first-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    };
                                }
                            }
                            .info {
                                .image {
                                    margin: {
                                        right: 0;
                                        left: 12px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.contacts-list-card {
                .mat-mdc-card-content {
                    .contacts-list-table {
                        .mat-mdc-paginator {
                            padding: {
                                top: 15px;
                                left: 20px;
                                right: 20px;
                            };
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.contacts-list-card {
                .mat-mdc-card-header {
                    .mat-mdc-button {
                        &.add-new-btn {
                            margin-top: 12px;
                        }
                    }
                }
                .mat-mdc-card-content {
                    margin: {
                        left: -15px;
                        right: -15px;
                    };
                    .contacts-list-table {
                        .mat-mdc-table {
                            .info {
                                .image {
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .contacts-list-table {
                            .mat-mdc-table {
                                .mat-mdc-header-cell {
                                    &:first-child {
                                        padding: {
                                            right: 15px;
                                        };
                                    }
                                }
                                .mat-mdc-cell {
                                    &:first-child {
                                        padding: {
                                            right: 15px;
                                        };
                                    }
                                }
                                .info {
                                    .image {
                                        margin: {
                                            left: 8px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.contacts-list-card {
                    .mat-mdc-card-header {
                        .mat-mdc-card-header-text {
                            display: block;

                            .search-box {
                                margin-bottom: 12px;
                            }
                        }
                    }
                    .mat-mdc-card-content {
                        .contacts-list-table {
                            .mat-mdc-paginator {
                                padding: {
                                    top: 10px;
                                    left: 15px;
                                    right: 15px;
                                };
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.contacts-list-card {
                .mat-mdc-card-content {
                    margin: {
                        left: -20px;
                        right: -20px;
                    };
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .contacts-list-table {
                            .mat-mdc-table {
                                .mat-mdc-header-cell {
                                    &:first-child {
                                        padding: {
                                            right: 20px;
                                        };
                                    }
                                }
                                .mat-mdc-cell {
                                    &:first-child {
                                        padding: {
                                            right: 20px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.contacts-list-card {
                    .mat-mdc-card-content {
                        .contacts-list-table {
                            .mat-mdc-paginator {
                                padding: {
                                    left: 20px;
                                    right: 20px;
                                };
                            }
                        }
                    }
                }
            }
        }
    }


}

.copy-link-container {
    width: 100%;
    max-width: 500px;
    padding: 10px;
  }
  
  .copy-link-input {
    flex: 1;
  }

  .copy-link-field {
    width: 100%;
    max-width: 500px;
  }
  
  

.link-share-btn {
    &.mat-mdc-button {
        width: 100%;
        height: auto;
        display: block;
        min-width: auto;
        padding: 13px 15px;
        border-radius: 5px;
        // color: var(--blackColor);
        // background-color: var(--whiteColor);
    }
}

::ng-deep {
    .link-share-popup {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        position: fixed;
        transition: .3s;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: {
            x: hidden;
            y: auto;
        };
        .popup-dialog {
            display: flex;
            transition: .3s;
            max-width: 550px;
            align-items: center;
            transform: translate(0, -20px);
            min-height: calc(100% - 1.75rem * 2);
            margin: {
                left: auto;
                right: auto;
            };
            .daxa-card {
                width: 100%;

                .mat-mdc-card-header {
                    border-bottom: 1px solid #eeeeee;
                    margin: {
                        left: -20px;
                        right: -20px;
                    };
                    padding: {
                        left: 20px;
                        right: 20px;
                        bottom: 18px;
                    };
                    .mat-mdc-card-subtitle {
                        .mat-mdc-button {
                            padding: 0;
                            height: auto;
                            line-height: 1;
                            min-width: auto;
                            display: inline-block;
                            font-size: 23px !important;
                        }
                    }
                }
                .mat-mdc-card-content {
                    .main-label {
                        margin-bottom: 12px;
                        font-size: 15px;
                    }
                    .mat-mdc-form-field {
                        margin-bottom: 20px;
                    }
                    .btn-box {
                        text-align: right;

                        .mat-mdc-button {
                            border: 0;
                            height: auto;
                            min-width: auto;
                            min-height: auto;
                            padding: 14px 35px;
                            font-weight: normal;
                            color: var(--whiteColor);
                            font-size: 15px !important;
                            background-color: var(--daxaColor);

                            &:first-child {
                                margin-right: 10px;
                                background-color: var(--dangerColor);
                            }
                        }
                    }
                }
            }
        }
        &.active {
            opacity: 1;
            visibility: visible;

            .popup-dialog {
                transform: none;
            }
        }
        &.rtl-enabled {
            .popup-dialog {
                .daxa-card {
                    .mat-mdc-card-content {
                        .btn-box {
                            text-align: left;
    
                            .mat-mdc-button {
                                &:first-child {
                                    margin: {
                                        right: 0;
                                        left: 10px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}


/* Laptop/desktop: 3 across */
.filter-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* date | clear | user */
  align-items: center;
  gap: 12px;
}

/* Make mat fields behave nicely inside grid */
.filter-container > * { min-width: 0; }
.filter-container .mat-form-field { width: 100%; }

/* Mobile: stack */
@media (max-width: 767px) {
  .filter-container {
    grid-template-columns: 1fr;
  }
  /* optional: make the Clear button full-width for easier tap */
  .filter-container .add-new-btn {
    width: 80%;
    justify-content: center;
  }
}
