<ng-template #confirmDialog let-data>
    <h1 mat-dialog-title class="confirm-title">{{ data.title }}</h1>
    <div mat-dialog-content class="confirm-content">
        <p>{{ data.message }}</p>
    </div>
    <div mat-dialog-actions class="confirm-actions">
        <button mat-flat-button color="warn" class="confirm-btn" (click)="dialogRef.close(false)">No</button>
        <button mat-flat-button color="primary" class="confirm-btn" (click)="dialogRef.close(true)"
            cdkFocusInitial>Yes</button>
    </div>
</ng-template>



<mat-card class="daxa-card contacts-list-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">


    <mat-card-header>


        <div class="row">

            <div class="row" *ngIf="user_type == 'USER'">
                <!-- <div class="row" >  -->

                <!-- <button
                        *ngIf="!profile?.attendance?.checkin || profile?.attendance?.checkin && profile?.attendance?.checkout"
                        mat-button class="daxa small-btn me-25" (click)="checkIn()">Check In</button>
                    <button *ngIf="profile?.attendance?.checkin && !profile?.attendance?.checkout" mat-flat-button
                        color="warn" (click)="checkOut()">Check Out</button> -->

                <div class="check-buttons">
                    <button
                        *ngIf="!profile?.attendance?.checkin || profile?.attendance?.checkin && profile?.attendance?.checkout"
                        mat-flat-button color="primary" class="small-btn me-2"
                        (click)="openConfirmDialog('Check In', 'Are you sure you want to Check In?')">Check In</button>

                    <button *ngIf="profile?.attendance?.checkin && !profile?.attendance?.checkout" mat-flat-button
                        color="warn" class="small-btn"
                        (click)="openConfirmDialog('Check Out', 'Are you sure you want to Check Out?')">

                        Check Out</button>
                </div>

            </div>




            <div class="row"> <br><br> </div>
            <div class="row">
                <mat-card-subtitle class="filter-container" style="display: flex; flex-wrap: wrap; gap: 10px;">



                    <mat-form-field appearance="fill" class="small-form-field" style="flex: 1 1 150px;">
                        <mat-label>School</mat-label>
                        <mat-select (selectionChange)="filterSchool($event)">
                            <mat-form-field appearance="outline" class="w-80">

                                <input [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="searchFieldSchool"
                                    (keyup)="searchSchool()" placeholder="search school...">

                                <!-- Clear button -->
                                <button *ngIf="searchFieldSchool" mat-icon-button matSuffix
                                    (click)="clearSearchSchool()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let s of school" [value]="s.id">{{ s.school_name }} ({{ s.location?.name
                                }})</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="user_type == 'ADMIN'">
                        <mat-form-field appearance="fill" class="small-form-field" style="flex: 1 1 120px;">
                            <mat-label>User</mat-label>
                            <mat-select (selectionChange)="filterUser($event)">
                                <mat-form-field appearance="outline" class="w-80">

                                    <input [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="searchFieldUser"
                                        (keyup)="searchUser()" placeholder="search user...">

                                    <!-- Clear button -->
                                    <button *ngIf="searchFieldUser" mat-icon-button matSuffix
                                        (click)="clearSearchUser()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-option value="">All</mat-option>
                                <mat-option *ngFor="let s of users" [value]="s.id">{{ s.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="fill" class="small-form-field" style="flex: 1 1 120px;">
                        <mat-label>Location</mat-label>
                        <mat-select (selectionChange)="filterLocation($event)">
                            <mat-form-field appearance="outline" class="w-80">

                                <input [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="searchFieldLocation"
                                    (keyup)="searchLocation()" placeholder="search location...">

                                <!-- Clear button -->
                                <button *ngIf="searchFieldLocation" mat-icon-button matSuffix
                                    (click)="clearSearchLocation()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let s of location" [value]="s.id">{{ s.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="fill" class="small-form-field" style="flex: 1 1 100px;">
      <mat-label>Status</mat-label>
      <mat-select (selectionChange)="filterStatus($event)">
        <mat-option value="">All</mat-option>
        <mat-option value="OPEN">OPEN</mat-option>
        <mat-option value="ONGOING">ONGOING</mat-option>
        <mat-option value="COMPLETED">COMPLETED</mat-option>
        <mat-option value="OTHER">OTHER</mat-option>
      </mat-select>
  </mat-form-field> -->

                    <mat-form-field style="flex: 1 1 130px;">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate"
                            (dateChange)="filterDateRange()">
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field style="flex: 1 1 130px;">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate"
                            (dateChange)="filterDateRange()">
                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>

                    <button mat-button class="add-new-btn" color="primary" (click)="resetFilters()">
                        <i class="material-symbols-outlined" style="font-size: 14px;"> backspace </i>
                        Clear
                    </button>

                </mat-card-subtitle>
            </div>

        </div>




    </mat-card-header>
</mat-card>


<app-stats [data]="dashboardData"></app-stats>

<div class="row">
    <!-- <button mat-flat-button class="daxa me-25" (click)="checkIn()">CheckIn</button>
    <button mat-flat-button color="warn" (click)="checkOut()">Check Out</button> -->
    <!-- <div class="col-lg-6 col-xxxl-4"> -->

    <!-- Most Leads -->
    <!-- <app-most-leads /> -->

    <!-- </div> -->
    <!-- <div class="col-lg-6 col-xxxl-4"> -->

    <!-- Country Stats -->
    <!-- <app-country-stats /> -->

    <!-- </div> -->
    <!-- <div class="col-lg-12 col-xxxl-4"> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-6 col-xxxl-12"> -->

    <!-- Tasks Stats -->
    <!-- <app-tasks-stats /> -->

    <!-- </div> -->
    <!-- <div class="col-lg-6 col-xxxl-12"> -->

    <!-- Earning Reports -->
    <!-- <app-earning-reports /> -->

    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <div class="col-lg-12 col-xxxl-4">
        <div class="row">
            <div class="col-lg-12 col-xxxl-12">

                <app-sales-overview [data]="dashboardData" />
                <!-- Client Payment Status -->
                <!-- <app-client-payment-status /> -->

            </div>

        </div>
    </div>
    <div class="col-lg-12 col-xxxl-8">

        <!-- Recent Leads -->
        <app-recent-leads />

    </div>
    <div class="col-lg-6 col-xxl-5">

        <!-- Top Customers -->
        <!-- <app-top-customers /> -->

    </div>
    <div class="col-lg-6 col-xxl-7">

        <!-- To Do List -->
        <!-- <app-to-do-list /> -->

    </div>


</div>