<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        {{ editMode ? 'Edit Lead' : 'Create Lead' }}

    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            CRM
        </li>
        <li class="breadcrumb-item position-relative">
            Leads
        </li>
        <li class="breadcrumb-item position-relative">
            {{ editMode ? 'Edit Lead' : 'Create Lead' }}

        </li>
    </ol>
</div>







<mat-card class="daxa-card create-lead-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card-content>
        <form [formGroup]="leadForm" (ngSubmit)="createLead()">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Contact ID
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter contact id
                            </mat-label>
                            <input matInput formControlName="contact_id">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Customer Name
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter customer name
                            </mat-label>
                            <input matInput formControlName="customer_name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Email Address
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter email address
                            </mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Phone Number
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter phone number
                            </mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Last Contacted Date
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter last contacted date
                            </mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Courses
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select Course name
                            </mat-label>
                            <!-- <mat-form-field> -->
                            <!-- <mat-label>
                                    Select
                                </mat-label> -->
                            <!-- <mat-select multiple formControlName="courses"> -->

                            <mat-select formControlName="courses">
                                <mat-option value="option1">
                                    Course 1
                                </mat-option>
                                <mat-option value="option2">
                                    Course 2
                                </mat-option>
                                <mat-option value="option3">
                                    Course 3
                                </mat-option>
                                <mat-option value="option4">
                                    Course 4
                                </mat-option>
                                <mat-option value="option5">
                                    Course 5
                                </mat-option>
                            </mat-select>
                            <!-- </mat-form-field> -->
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Duration
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter duration
                            </mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div> -->
              
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Lead Source
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select lead source
                            </mat-label>
                            <mat-select formControlName="lead_source">
                                <mat-option value="website">
                                    Website
                                </mat-option>
                                <mat-option value="referrel">
                                    Referral
                                </mat-option>
                                <mat-option value="cold_call">
                                    Cold Call
                                </mat-option>
                                <mat-option value="email_campaign">
                                    Email Campaign
                                </mat-option>
                                <mat-option value="online_store">
                                    Online Store
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
  <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Lead Status
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select Lead status
                            </mat-label>
                            <mat-select formControlName="status">
                                <mat-option [value]="LeadStatus.NEW">New</mat-option>
                                <mat-option [value]="LeadStatus.WON">Won</mat-option>
                                <mat-option [value]="LeadStatus.IN_PROGRESS">In Progress</mat-option>
                                <mat-option [value]="LeadStatus.LOST">Lost</mat-option>
                                <mat-option [value]="LeadStatus.OTHER">Other</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Create Date
                        </label>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter create date</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="E.g. Nov 10, 2024"
                                formControlName="created_date" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>




                <div class="col-md-4 col-sm-6">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Assign to
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select
                            </mat-label>
                            <!-- 'multiple' for multiple select -->
                            <mat-select formControlName="assign_to">
                                <mat-option *ngFor="let user of users" [value]="user.id">
                                    {{ user.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Customer Image
                        </label>
                        <file-upload class="file-uploader" [multiple]="multiple"></file-upload>
                    </div>
                </div>
            </div>
            <div class="btn-box">

                <button mat-button type="submit">
                    <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-1" role="status"
                        aria-hidden="true"></span>

                    {{ editMode ? 'Edit Lead' : 'Create Lead' }}

                </button>

                <!-- <button mat-button>
                    Cancel
                </button> -->
            </div>
        </form>
    </mat-card-content>
</mat-card>